<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" sizes="32x32" href="/img/icon32.png" type="image/png">
		<title>大哥你快回来</title>
		<link rel="stylesheet" href="/css/main.css"/>
	</head>
	<body>
		<div class="page404"></div>
	</body>
</html>