<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="about-us">
			<img src="/img/about_us/bg.jpg" alt="陕西帝奥电梯" class="page__bg">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt active">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="viewport viewport_tab">
				<div class="tab__nav clearfix">
					<a href="javascript:;" class="tab__nav__item active">企业品牌</a>
					<a href="javascript:;" class="tab__nav__item">所处区位</a>
					<a href="javascript:;" class="tab__nav__item">企业概况</a>
					<a href="javascript:;" class="tab__nav__item">企业管理</a>
					<a href="javascript:;" class="tab__nav__item">企业文化</a>
					<a href="javascript:;" class="tab__nav__item">公司资质</a>
				</div>
				<div class="viewport__content tab__content">
					<div class="tab__content__cnt active">
						<div class="as__banner txt-c">
							<img src="/img/about_us/banner1.jpg" alt="企业品牌">
						</div>
						<div class="des">
							<p>德国品牌DIAO ELEVATOR（帝奥）电梯以其最高的安全标准、卓越的品质、优雅的外观、先进的技术及工艺很早就享誉欧洲。</p>
							<p>陕西帝奥电梯有限公司承袭德国先进技术，并以其严谨高效的管理、优质的售后服务及合理的价格在业界赢得了良好的信誉，实现了稳步向上的发展轨迹。DIAO ELEVATOR（帝奥）品牌电梯从德国来到中国，带来了尖端和成熟的技术，完美的设计风格以及超前的服务理念。陕西帝奥电梯有限公司的成立，标志着德国DIAO ELEVATOR（帝奥）品牌电梯全面进入中国西部市场。</p>
						</div>
					</div>
					<div class="tab__content__cnt">
						<div class="as__banner txt-c">
							<img src="/img/about_us/banner2.jpg" alt="所处区位">
						</div>
						<div class="des">
							<p> 陕西帝奥电梯有限公司地处陕西东南部，属中国南北过渡带，巴山秦岭横亘南北，有南国水乡之灵秀，是中国西部地区唯一亚热带季风性温润气候区，生态环境优美，自然资源丰富。</p>
						</div>
					</div>
					<div class="tab__content__cnt">
						<div class="as__banner txt-c">
							<img src="/img/about_us/banner3.jpg" alt="企业概况">
						</div>
						<div class="des">
							<p> 陕西帝奥电梯有限公司是我国西部地区规模最大的电梯、自动扶梯生产销售基地及服务中心。公司拥有年产15000台电梯的生产制造基地,总投资4亿元人民币，总占地面积303亩，其中一期建筑面积70亩，二期建筑面积233亩，全部投产后可实现年产值10亿元人民币。公司建有电梯控制柜生产流水线、电梯喷粉生产线及电梯物联网系统。公司集产品研发、设计、制造、销售、安装、维保于一体，绿色环保贯穿整个产品生产流程。为保证产品质量，公司从国外进口多功位数控冲床、数控加工中心、折弯机、数控激光机等国际先进设备，为公司的生产提供基本保障。</p>
							<p>公司持有A特种设备制造许可证和B级安装、改造、维修许可证。通过质量管理体系、职业健康安全管理体系、环境管理体系认证，并获得“国际知名品牌”、“国际品质•服务•诚信AAA企业”、“中国绿色节能环保品牌”、“全国质量信得过单位”名牌认证。产品涵盖自动扶梯、自动人行道、乘客电梯、住宅电梯、无机房电梯、医用电梯、观光电梯、家用电梯、载货电梯、液压电梯、自动停车设备等十一大类系列组成。</p>
						</div>
					</div>
					<div class="tab__content__cnt">
						<div class="as__banner txt-c">
							<img src="/img/about_us/banner4.jpg" alt="企业管理">
						</div>
						<div class="des">
							<p>帝奥人以打造精品为制造理念，质量生命线贯穿于每个流程。陕西帝奥电梯有限公司在配备强大硬件的同时，拥有专业的营销和售后安装维保团队，严格按照公司服务体系要求，随时向用户提供优质服务。帝奥人以热情、周到的服务对待每一位客户，为客户提供百分百满意的帝奥产品质量和服务是帝奥人对市场的永久承诺。</p>
						</div>
					</div>
					<div class="tab__content__cnt">
						<div class="as__banner txt-c">
							<img src="/img/about_us/banner5.jpg" alt="企业文化">
						</div>
						<div class="des">
							<p>德国品牌DIAO ELEVATOR（帝奥）电梯以其最高的安全标准、卓越的品质、优雅的外观、先进的技术及工艺很早就享誉欧洲。</p>
							<p>陕西帝奥电梯有限公司承袭德国先进技术，并以其严谨高效的管理、优质的售后服务及合理的价格在业界赢得了良好的信誉，实现了稳步向上的发展轨迹。DIAO ELEVATOR（帝奥）品牌电梯从德国来到中国，带来了尖端和成熟的技术，完美的设计风格以及超前的服务理念。陕西帝奥电梯有限公司的成立，标志着德国DIAO ELEVATOR（帝奥）品牌电梯全面进入中国西部市场。</p>
						</div>
					</div>
					<div class="tab__content__cnt">
						<div class="zz__slider">
							<div class="bd">
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/1.jpg" alt="荣誉证书">
									</li>
								</ul>
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/2.jpg" alt="荣誉证书">
									</li>
								</ul>
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/3.jpg" alt="荣誉证书">
									</li>
								</ul>
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/4.jpg" alt="荣誉证书">
									</li>
								</ul>
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/5.jpg" alt="税务登记证">
									</li>
								</ul>
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/6.jpg" alt="相关许可证">
									</li>
								</ul>
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/7.jpg" alt="相关证书">
									</li>
								</ul>
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/8.jpg" alt="组织结构代码正本">
									</li>
								</ul>
							</div>
							<div class="hd">
								<div class="arrow">
									<a class="next"></a>
									<a class="prev"></a>
								</div>
								<ul >
									<li>荣誉证书1</li>
									<li>荣誉证书2</li>
									<li>荣誉证书3</li>
									<li>荣誉证书4</li>
									<li>税务登记证</li>
									<li>相关许可证</li>
									<li>相关证书</li>
									<li>组织结构代码正本</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
		<script type="text/javascript">
			$(function () {
				Tab.enable();
				jQuery(".zz__slider").slide({
					effect:"left",
					autoPlay:true
				});
			});
		</script>
	</body>
</html>