<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="contact-us">
			<img src="/img/contact_us/bg.jpg" alt="陕西帝奥电梯" class="page__bg">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt active">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="viewport viewport_c_us">
				<div class="viewport__content">
					<h1 class="viewport__title">联系我们</h1>
					<div class="contact-way">
						<div class="map">
							<img src="/img/contact_us/map.jpg" alt="陕西帝奥电梯">
						</div>
						<div class="way__detail">
							<div class="way__item">
								<img src="/img/contact_us/tel.jpg?v1" alt="公司电话：400-057-2098">
							</div>
							<div class="way__item">
								<img src="/img/contact_us/mail.jpg" alt="公司邮箱：puruidadianti@163.com">
							</div>
							<div class="way__item">
								<img src="/img/contact_us/fax.jpg?v1" alt="公司邮箱：puruidadianti@163.com">
							</div>
							<div class="way__item">
								<img src="/img/contact_us/addr.jpg" alt=" 公司地址：陕西省安康市高新技术开发区高新七路6号">
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
	</body>
</html>