<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="custom-case">
			<img src="/img/custom_case/bg.jpg" alt="陕西帝奥电梯" class="page__bg">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt active">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="viewport viewport_custom-case">
				<div class="viewport__content">
					<div class="title-wrapper">
						<h1 class="viewport__title">案例展示</h1>
					</div>
					<div class="case-wrapper">
						<div class="case-list">
							<div class="case__item first">
								<img src="/img/custom_case/1.jpg" alt="安康建民社区">
								<div class="case__title">安康建民社区</div>
							</div>
							<div class="case__item">
								<img src="/img/custom_case/2.jpg" alt="东海尚府">
								<div class="case__title">东海尚府</div>
							</div>
							<div class="case__item first">
								<img src="/img/custom_case/3.jpg" alt="傅家河社区">
								<div class="case__title">傅家河社区</div>
							</div>
							<div class="case__item">
								<img src="/img/custom_case/4.jpg" alt="高新现代城">
								<div class="case__title">高新现代城</div>
							</div>
							<div class="case__item first">
								<img src="/img/custom_case/5.jpg" alt="高新中学">
								<div class="case__title">高新中学</div>
							</div>
							<div class="case__item">
								<img src="/img/custom_case/6.jpg" alt="清水园鸟瞰图">
								<div class="case__title">清水园鸟瞰图</div>
							</div>
							<div class="case__item first">
								<img src="/img/custom_case/7.jpg" alt="石泉江南幼儿园">
								<div class="case__title">石泉江南幼儿园</div>
							</div>
							<div class="case__item">
								<img src="/img/custom_case/8.jpg" alt="数字化创业中心">
								<div class="case__title">数字化创业中心</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
	</body>
</html>