<div class="footer">
	<div class="mate"></div>
	<div class="common-w clearfix">
		<div class="float-l">
			<p>陕ICP备12010070号 <a style="margin-left: 30px;" href="/user_center">后台管理</a></p>
			<p>版权所有：陕西帝奥电梯有限公司©2015 SHANXI GMDEO ELEVATOR </p>
		</div>
		<a href="/" class="logo float-r"></a>
	</div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/superslider.js"></script>
<script src="/js/main.js"></script>