<footer class="footer">
	<div class="mate"></div>
	<div class="common-w clearfix">
		<div class="float-l">
			<p>苏ICP备13053518号-1</p>
			<p>版权所有：陕西帝奥电梯有限公司©2013 SHANXI GMDEO ELEVATOR</p>
		</div>
		<a href="/" class="logo float-r"></a>
	</div>
</footer>
<script src="/js/jquery.js"></script>
<script src="/js/superslider.js"></script>
<script src="/js/main.js"></script>