<footer class="footer">
	<div class="clearfix">
		<div class="float-l">
			<p>Proudly published with <a target="_blank" href="https://github.com/barbara012">&nbsp;Node</a></p>
			<p>感谢大神<a href="http://hwh.club/" target="_blank">葫芦娃</a>为我写前端和后端的代码</p>
			<p>最后特别感谢JS大神<a href="http://gcore.me/" target="_blank">GilberSun</a>为我买空间，设置空间以及准备随时脱我的裤（目前不太可能）</p>
		</div>
		<div class="float-r t-r">
			<p>友情链接：
				<a target="_blank" href="http://cv.qiaobutang.com">乔布简历</a>，
				<a target="_blank" href="http://www.photor.info/">无名info</a>
			</p>
			<p>请使用现代浏览器，下载Chrome：<a href="http://www.google.cn/chrome/" target="_blank">Chrome</a></p>
			<p>All content copyright NiZ-YoYo © 2014 - ? • All rights reserved.</p>
		</div>
	</div>
</footer>
<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/help.js"></script>
<script src="/js/userMore.js"></script>