<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
<meta name="description" content="葫芦娃的博客"/>
<meta name="keywords" content="葫芦娃，hwh，乔布堂，堂志，胡文华，博客"/>
<meta name="baidu-site-verification" content="y7YQ0MytN4" />
<link rel="apple-touch-icon-precomposed" size="114x114" href="logo.png"/>
<link rel="stylesheet" href="/css/main.css"/>