<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="baidu-site-verification" content="9L9DBRAuOW" />
<meta name="description" content="陕西帝奥电梯有限公司|陕西帝奥电梯-中国电梯领导品牌"/>
<meta name="keywords" content="陕西帝奥电梯有限公司，电梯，陕西帝奥电梯，中国电梯领导品牌"/>
<link rel="stylesheet" href="/css/main.css?8"/>
<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?511f3b7b4bfe5af03ba0caba836073f5";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>

<script type="text/javascript">
	var browserV = ((navigator.appVersion).split(';'))[1].replace(/[ ]/g,'');
	if (browserV === 'MSIE7.0' || browserV === 'MSIE6.0') {
		var mate = document.createElement('div');
		var tipPop = document.createElement('div');
		tipPop.innerHTML = '您的浏览器版本过低，为了更好的体验，建议升级或者使用Chrome、FireFox等浏览器进行访问';
		tipPop.className = 'browser-tip-popup';
		mate.className = 'popup-mate';
		document.body.appendChild(mate);
		document.body.appendChild(tipPop);
	}
</script>