<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="home-page">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<div class="logo-container float-l">
						<a href="/"><img src="/img/logo.png" alt="迪奥电梯"></a>
					</div>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt active">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="home-banner-slider">
				<div class="hd">
					<ul></ul>
				</div>
				<div class="bd">
					<ul class="pic-list">
						<li><a href="/" class="slider__item slider__item1"></a></li>
						<li><a href="/" class="slider__item slider__item2"></a></li>
						<li><a href="/" class="slider__item slider__item3"></a></li>
					</ul>
				</div>				
			</div>
			<div class="cnt cnt-about-us">
				<div class="common-w">
					<div class="cnt__title txt-c">
						<img src="/img/index/1.png" alt="公司介绍">
					</div>
					<div class="cnt__banner"></div>
					<div class="cnt-as__slider">
						<div class="bd">
							<ul class="pic-list">
								<li>
									<div class="slider__item slider__item1">
										<p>德国品牌DIAO ELEVATOR（帝奥）电梯以其最高的安全标准、卓越的品质、优雅的外观、先进的技术及工艺很早就享誉欧洲。</p>
										<p>陕西帝奥电梯有限公司承袭德国先进技术，并以其严谨高效的管理、优质的售后服务及合理的价格在业界赢得了良好的信誉，实现了稳步向上的发展轨迹。DIAO ELEVATOR（帝奥）品牌电梯从德国来到中国，带来了尖端和成熟的技术，完美的设计风格以及超前的服务理念。陕西帝奥电梯有限公司的成立，标志着德国DIAO ELEVATOR（帝奥）品牌电梯全面进入中国西部市场。</p>
									</div>
								</li>
								<li>
									<div class="slider__item slider__item2">
										<p>陕西帝奥电梯有限公司是我国西部地区规模最大的电梯、自动扶梯生产销售基地及服务中心。公司拥有年产15000台电梯的生产制造基地,总投资4亿元人民币，总占地面积303亩，其中一期建筑面积70亩，二期建筑面积233亩，全部投产后可实现年产值10亿元人民币。公司建有电梯控制柜生产流水线、电梯喷粉生产线及电梯物联网系统。公司集产品研发、设计、制造、销售、安装、维保于一体，绿色环保贯穿整个产品生产流程。为保证产品质量，公司从国外进口多功位数控冲床、数控加工中心、折弯机、数控激光机等国际先进设备，为公司的生产提供基本保障。</p>
									</div>
								</li>
								<li><div class="slider__item slider__item3">
									<p>公司持有A级特种设备制造许可证和B级安装、改造、维修许可证。通过质量管理体系、职业健康安全管理体系、环境管理体系认证，并获得“国际知名品牌”、“国际品质•服务•诚信AAA企业”、“中国绿色节能环保品牌”、“全国质量信得过单位”名牌认证。产品涵盖自动扶梯、自动人行道、乘客电梯、住宅电梯、无机房电梯、医用电梯、观光电梯、家用电梯、载货电梯、液压电梯、自动停车设备等十一大类系列组成。</p>
								</div></li>
							</ul>
						</div>
						<div class="hd">
							<a class="next"></a>
							<ul></ul>
							<a class="prev"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="cnt cnt-technology">
				<div class="common-w">
					<div class="cnt__title txt-c">
						<img src="/img/index/2.png" alt="产品核心">
					</div>
					<div class="cnt-products__tab">
						<div class="tab__nav txt-c">
							<div class="tab__nav__item active">
								<div class="icon icon-lv"></div>
								<p>绿色环保理念</p>
							</div>
							<div class="tab__nav__item">
								<div class="icon icon-ll"></div>
								<p>能量回馈系统装置</p>
							</div>
							<div class="tab__nav__item">
								<div class="icon icon-yj"></div>
								<p>永磁同步无齿轮曳引机</p>
							</div>
							<div class="tab__nav__item">
								<div class="icon icon-sj"></div>
								<p>独特的轿厢设计</p>
							</div>
						</div>
						<div class="tab__content">
							<div class="tab__content__cnt active">
								<p>公司产品以“低碳排放”、“循环利用资源”、“生态环境保护”为发展根本，电梯的控制系统、驱动系统和变频拖动系统均符合欧洲EC环保标准，符合EMC电磁兼容性标准。在同等条件下，不受电磁干扰，也不产生电磁污染。这样不但最大限度的保证了电梯内及电梯设备周边区域的人员不受电磁辐射。</p>
							</div>
							<div class="tab__content__cnt">
								<p>能量回馈技术，有效融合能源再生理念和双PWM控制的能量回馈原理，将电梯运行中的热能转化为电能以回馈电网，实现了能源再生利用，使节能效果更上一层</p>
							</div>
							<div class="tab__content__cnt">
								<p>我公司生产的无齿轮曳引机采用封闭式设计方式，永磁无齿轮驱动系统是一个封闭的单元，不需要润滑，没有油污染，所有整体环境污染降至最低，充分体现了21世纪的环保理念。</p>
							</div>
							<div class="tab__content__cnt">
								<p>产品轿厢引进德国帝奥同类产品的先进设计理念，改进原有结构，使新产品轿厢具有更高的强度，同时减轻了重量。人性化感应照明设计，不仅使照明更充分，并实现最高节能目的。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cnt cnt-products">
				<div class="common-w">
					<div class="cnt__title txt-c">
						<img src="/img/index/3.png" alt="相关展示">
					</div>
					<div class="cnt-products__slider">
						<div class="bd">
							<ul class="product__item">
								<li><a href="javascript:;" class="slider__item slider__item1"><img src="/img/index/p1.jpg" alt="项目展示"></a></li>
								
							</ul>
							<ul class="product__item">
								<li><a href="javascript:;" class="slider__item slider__item2"><img src="/img/index/p2.jpg" alt="产品展示"></a></li>
							</ul>
							<ul class="product__item">
								<li><a href="javascript:;" class="slider__item slider__item3"><img src="/img/index/p3.jpg" alt="车间展示"></a></li>
							</ul>
						</div>
						<div class="hd">
							<div class="arrow">
								<a class="next"></a>
								<a class="prev"></a>
							</div>
							<ul >
								<li>项目展示</li>
								<li>产品展示</li>
								<li>车间展示</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="cnt cnt-culture">
				<div class="common-w">
					<div class="cnt__title txt-c">
						<img src="/img/index/4.png" alt="企业文化">
					</div>
					<div class="cnt-culture__content txt-c">
						<div class="cnt-culture__item">
							<span class="icon icon-band"></span>
							<h2>品牌理念</h2>
							<p>我们提升的不仅仅是高度</p>
						</div>
						<div class="cnt-culture__item">
							<span class="icon icon-service"></span>
							<h2>服务理念</h2>
							<p>我们专注于为您的优质生活提供"专业"、"专注"、"专一"服务</p>
						</div>
						<div class="cnt-culture__item">
							<span class="icon icon-skill"></span>
							<h2>技术理念</h2>
							<p>完全节能--我们矢志不渝的命令</p>
						</div>
					</div>
					<p class="summed txt-c">我们致力于成为优秀企业，不断超越客户持续增长的期望</p>
				</div>
			</div>
			<div class="cnt cnt-addr">
				<div class="common-w">
					<div class="cnt__title txt-c">
						<img src="/img/index/5.png" alt="公司地址">
					</div>
					<div class="cnt-addr__content">
						<p>陕西帝奥电梯有限公司地处陕西东南部，属中国南北过渡带，巴山秦岭横亘南北，有南国水乡之灵秀，是中国西部地区唯一亚热带风性温润气候区，生态环境优美，自然资源丰富。</p>
						<div class="map"></div>
						<div class="txt-c">
							<span class="span">地址：陕西省安康市高新技术开发区高新七路6号</span>
							<span class="span">电话：400-057-2098&nbsp;&nbsp;0915-8190666</span>
						</div>
					</div>
				</div>
			</div>
			<div class="cnt cnt-contact-us">
				<div class="cnt__title txt-c">
					<img src="/img/index/6.png" alt="联系我们">
				</div>
				<div class="cnt-cs_content">
					<div class="form__item clearfix">
						<div class="field-container field-container_name float-l">
							<input type="text" class="text" placeholder="请输入您的姓名">
						</div>
						<div class="field-container field-container_mail float-r">
							<input type="text" class="text" placeholder="请输入您的邮箱">
						</div>
					</div>
					<div class="form__item clearfix">
						<div class="field-container">
							<textarea placeholder="请输入您的留言内容" class="text-area" name="" id="" cols="30" rows="10"></textarea>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
		<script>
			$(function () {
				jQuery(".home-banner-slider").slide({
					titCell: ".hd ul",
					mainCell: ".bd ul",
					autoPage: true,
					effect:"left",
					autoPlay:true,
					vis:1,
					trigger:"click"
				});
				jQuery(".cnt-as__slider").slide({
					titCell: ".hd ul",
					mainCell: ".bd ul",					
					effect:"fade",
					autoPage: true,
					vis:1,
					trigger:"click"
				});
				jQuery(".cnt-products__slider").slide({
					effect:"left",
					autoPlay:true
				});
				//
				Tab.enable();
			});
		</script>
	</body>
</html>