<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="home-page">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<div class="logo-container float-l">
						<a href="/"><img src="/img/logo.png" alt="迪奥电梯"></a>
					</div>
					<ul class="nav__menu float-l clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt active">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="home-banner-slider">
				<div class="hd">
					<ul></ul>
				</div>
				<div class="bd">
					<ul class="pic-list">
						<li><a href="/" class="slider__item slider__item1"></a></li>
						<li><a href="/" class="slider__item slider__item2"></a></li>
						<li><a href="/" class="slider__item slider__item3"></a></li>
					</ul>
				</div>				
			</div>
			<div class="cnt cnt-about-us">
				<div class="common-w">
					<div class="cnt__title txt-c">公司介绍</div>
					<div class="cnt__banner"></div>
					<div class="cnt-as__slider">
						<div class="bd">
							<ul class="pic-list">
								<li><a href="/" class="slider__item slider__item1">你们</a></li>
								<li><a href="/" class="slider__item slider__item2">他们</a></li>
								<li><a href="/" class="slider__item slider__item3">我们</a></li>
							</ul>
						</div>
						<div class="hd">
							<a class="next"></a>
							<ul></ul>
							<a class="prev"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="cnt cnt-technology">
				<div class="common-w">
					<div class="cnt__title txt-c">产品核心</div>
					<div class="cnt-products__tab">
						<div class="tab__nav txt-c">
							<div class="tab__nav__item active">
								<div class="icon icon-lv"></div>
								<p>绿色环保理念</p>
							</div>
							<div class="tab__nav__item">
								<div class="icon icon-ll"></div>
								<p>能量回馈系统装置</p>
							</div>
							<div class="tab__nav__item">
								<div class="icon icon-yj"></div>
								<p>永磁同步无齿轮曳引机</p>
							</div>
							<div class="tab__nav__item">
								<div class="icon icon-sj"></div>
								<p>独特的轿厢设计</p>
							</div>
						</div>
						<div class="tab__content">
							<div class="tab__content__cnt active">1</div>
							<div class="tab__content__cnt">2</div>
							<div class="tab__content__cnt">3</div>
							<div class="tab__content__cnt">4</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cnt cnt-products">
				<div class="common-w">
					<div class="cnt__title txt-c">相关展示</div>
					<div class="cnt-products__slider">
						<div class="bd">
							<ul class="product__item">
								<li><a href="/" class="slider__item slider__item1"><img src="/img/index/p1.jpg" alt="项目展示"></a></li>
								
							</ul>
							<ul class="product__item">
								<li><a href="/" class="slider__item slider__item2"><img src="/img/index/p2.jpg" alt="产品展示"></a></li>
							</ul>
							<ul class="product__item">
								<li><a href="/" class="slider__item slider__item3"><img src="/img/index/p1.jpg" alt="车间展示"></a></li>
							</ul>
						</div>
						<div class="hd">
							<div class="arrow">
								<a class="next"></a>
								<a class="prev"></a>
							</div>
							<ul >
								<li>项目展示</li>
								<li>产品展示</li>
								<li>车间展示</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="cnt cnt-culture">
				<div class="common-w">
					<div class="cnt__title txt-c">企业文化</div>
					<div class="cnt-culture__content txt-c">
						<p class="p1">企业格言</p>
						<p>全力以赴，做到最好。</p>
						<p>精益求精，追求卓越。</p>
						<p>改善提高，永无止境。</p>
						<p>塑企业形象，创优质品牌。</p>
						<p>团结协作，忘我敬业，朝气蓬勃，开拓创新。</p>
					</div>
				</div>
			</div>
			<div class="cnt cnt-addr">
				<div class="common-w">
					<div class="cnt__title txt-c">公司地址</div>
					<div class="cnt-addr__content">
						<p>陕西帝奥电梯有限公司地处陕西东南部，属中国南北过渡带，巴山秦岭横亘南北，有南国水乡之灵秀，是中国西部地区唯一亚热带风性温润气候区，生态环境优美，自然资源丰富。</p>
						<div class="map"></div>
						<div class="txt-c">
							<span class="span">地址：陕西省安康市高新技术开发区高新七路6号</span>
							<span class="span">电话：400-057-2098&nbsp;&nbsp;0915-8190666</span>
						</div>
					</div>
				</div>
			</div>
			<div class="cnt cnt-contact-us">
				<div class="common-w">
					<div class="cnt__title txt-c">联系我们</div>
				</div>
			</div>
			<% include footer %>
		</div>
		<script>
			$(function () {				
				jQuery(".home-banner-slider").slide({
					titCell: ".hd ul",
					mainCell: ".bd ul",
					autoPage: true,
					effect:"left",
					autoPlay:true,
					vis:1,
					trigger:"click"
				});
				jQuery(".cnt-as__slider").slide({
					titCell: ".hd ul",
					mainCell: ".bd ul",
					autoPage: true,
					effect:"left",
					autoPlay:true,
					vis:1,
					trigger:"click"
				});
				jQuery(".cnt-products__slider").slide();
				//
				Tab.enable();
			});
		</script>
	</body>
</html>