<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="home-page">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<div class="logo-container float-l">
						<a href="/"><img src="/img/logo.png" alt="迪奥电梯"></a>
					</div>
					<ul class="nav__menu float-l clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">留言板</a></li>
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="home-banner-slider">
				<ul>
					<li><a href="/" class="slider__item slider__item1"></a></li>
					<li><a href="/" class="slider__item slider__item2"></a></li>
					<li><a href="/" class="slider__item slider__item3"></a></li>
				</ul>
				<a href="#" class="unslider-arrow prev">Previous slide</a>
				<a href="#" class="unslider-arrow next">Next slide</a>
			</div>
			<div class="cnt cnt-about-us">
				<div class="common-w">
					<div class="cnt__title txt-c">公司介绍</div>
					<div class="cnt__banner"></div>
					<div class="cnt-as__slider">
						<ul>
							<li><a href="/" class="slider__item slider__item1">你们</a></li>
							<li><a href="/" class="slider__item slider__item2">他们</a></li>
							<li><a href="/" class="slider__item slider__item3">我们</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="cnt cnt-technology">
				<div class="common-w">
					<div class="cnt__title txt-c">公司介绍</div>
				</div>
			</div>
			<div class="cnt cnt-products">
				<div class="common-w">
					<div class="cnt__title txt-c">公司介绍</div>
				</div>
			</div>
			<div class="cnt cnt-culture">
				<div class="common-w">
					<div class="cnt__title txt-c">公司介绍</div>
				</div>
			</div>
			<div class="cnt cnt-addr">
				<div class="common-w">
					<div class="cnt__title txt-c">公司介绍</div>
				</div>
			</div>
			<div class="cnt cnt-contact-us">
				<div class="common-w">
					<div class="cnt__title txt-c">公司介绍</div>
				</div>
			</div>
			<% include footer %>
		</div>
		<script>
			$(function () {
				var homeSlider = $('.home-banner-slider').unslider({
					speed: 500,
					delay: 3000,
					keys: true,
					dots: true
				});
				$('.home-banner-slider .unslider-arrow').click(function () {
					var fn = this.className.split(' ')[1];
					homeSlider.data('unslider')[fn]();
				});
				var cntASSlider = $('.cnt-as__slider').unslider({
					speed: 500,
					delay: 3000,
					keys: true,
					dots: true
				});
			});
		</script>
	</body>
</html>