<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="job-info">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<div class="logo-container float-l">
						<a href="/"><img src="/img/logo.png" alt="迪奥电梯"></a>
					</div>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt active">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="job-content common-w">
				<h1 class="title">秘书长</h1>
				<div class="job__req">
					<div class="job__req_item">招聘人数：5</div>
					<div class="job__req_item">工作地点：西安</div>
					<div class="job__req_item">学历要求：大专</div>
					<div class="job__req_item">工作年限：5</div>
				</div>
				<div class="job__des">
					<div class="job__des_item">
						<h4>岗位职责：</h4>
						<ol>
							<li>负责起草公司年度工作总结报告及董事长讲话稿。</li>
							<li>负责起草公司股东和董事会的会议材料。</li>
							<li>负责公司其它重要会议记录及会议纪要的整理。</li>
							<li>负责董事长书面、口头指示的上传下达。</li>
							<li>协助董事长处理集团及各下属公司业务部门间的日常工作。</li>
							<li>负责董事长行程安排等相关事宜的办理。</li>
						</ol>
					</div>
					<div class="job__des_item">
						<h4>任职资格：</h4>
						<ol>
							<li>年龄28-50岁，男女不限。</li>
							<li>本科及以上学历，英语、文秘、管理等专业毕业。</li>
							<li>5年以上董事长秘书工作经验（必须条件，不符请勿投）。</li>
							<li>具备英文听、说、读、写能力。</li>
							<li>具备较强的文字撰写能力、沟通协调能力及理解能力。</li>
							<li>会开车优先考虑。</li>
						</ol>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
		<script type="text/javascript">
			
		</script>
	</body>
</html>