<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="job-info">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<div class="logo-container float-l">
						<a href="/"><img src="/img/logo.png" alt="迪奥电梯"></a>
					</div>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt active">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="job-content common-w">
				<h1 class="title">业务员</h1>
				<div class="job__req">
					<div class="job__req_item">招聘人数：不限</div>
					<div class="job__req_item">性别：不限</div>
					<div class="job__req_item">年龄：24岁 - 35岁</div>
				</div>
				<div class="job__des">
					<div class="job__des_item">
						<h4>岗位职责：</h4>
						<ol>
							<li>掌握所负责销售区内的市场信息，管理渠道及销售商；</li>
							<li>电梯项目的开发、管理、跟踪、签订合同、目标完成；</li>
							<li>完成电梯销售任务，维护客户、代理商关系；</li>
							<li>销售事务与公司内部联络；</li>
							<li>对收集信息的分析、确定可操作项目。</li>
						</ol>
					</div>
					<div class="job__des_item">
						<h4>岗位要求：</h4>
						<ol>
							<li>专科及以上学历，电机类、市场营销等相关专业最佳；</li>
							<li>2年以上相关销售行业经验，业绩突出者优先；</li>
							<li>具备较强的沟通谈判能力，良好的客户服务意识；</li>
							<li>拥有电梯行业客户资源者优先考虑；</li>
							<li>有责任心，能承受一定的工作压力；</li>
							<li>根据工作需要出差。</li>
						</ol>
					</div>
					<div class="job__des_item">
						<h4>薪资待遇：</h4>
						<ol>
							<li>底薪2000+提成</li>
						</ol>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
	</body>
</html>