<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="job-info">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<div class="logo-container float-l">
						<a href="/"><img src="/img/logo.png" alt="迪奥电梯"></a>
					</div>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt active">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="job-content common-w">
				<h1 class="title">行政文员</h1>
				<div class="job__req">
					<div class="job__req_item">招聘人数：1</div>
					<div class="job__req_item">性别：女</div>
					<div class="job__req_item">年龄：20岁 - 30岁</div>
				</div>
				<div class="job__des">
					<div class="job__des_item">
						<h4>岗位职责：</h4>
						<ol>
							<li>公司文件，管理制度，种类会议纪要的编制及分类存档工作；</li>
							<li>公司证照，印鉴管理及种类文件上传，下达工作；</li>
							<li>协助人力资源建立和完善公司的企业文化建设；</li>
							<li>公司人才网的建立、更新和办公设备、网络的日常维护和保养联络；</li>
							<li>协助公司的种类日常接待工作。</li>
						</ol>
					</div>
					<div class="job__des_item">
						<h4>岗位要求：</h4>
						<ol>
							<li>大专及以上学历，汉语言文学、文秘等相关专业优先；</li>
							<li>熟练使用word、excel等办公软件；</li>
							<li>吃苦耐劳，勤奋踏实。</li>
						</ol>
					</div>
					<div class="job__des_item">
						<h4>薪资待遇：</h4>
						<ol>
							<li>试用期工资：1800元/月,试用期1-3个月；</li>
							<li>转正工资：2300元/月</li>
						</ol>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
	</body>
</html>