<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="login pos-rela">
			<div id="login" class="pos-abso">
				<div class="reset pos-abso">
					<p class="reset_title txt-center"><span class="icon icon-envelope"></span></p>
					<form action="/reset" method="post" class="form-inline">
						<div class="form-group">
							<label class="label" for="exampleInputEmail2">Email address</label>
							<input type="email" required="required" name="resetEmail" class="text" placeholder="账号绑定的邮箱">
						</div>
						<button type="submit" class="btn btn-default">
							<span class="icon icon-send"></span>
						</button>
						<p class="reset_tip clearfix">
							<span class="float-l">账号绑定的邮箱</span>
							<a href="javascript:;" class="float-r return-log">想起密码了？</a>
						</p>
					</form>

				</div>
				<div class="log pos-rela">
					<div class="head">
						<img src="/img/head.jpg" alt="头像">
					</div>
					<div class="body">
						<input type="text" class="text" id="username" name="username" placeholder="用户名">
						<input type="password" class="text" id="password"  name="password" placeholder="密码">
						<a class="btn btn-login btn-primary">登录</a>
						<div class="clearfix">
							<a href="javascript:;" class="float-r show-reg">注册</a>
							<a href="#" class="float-l reset-password" style="display: none;">忘记密码？</a>
							<a href="/login/github">使用 GitHub 登录</a>
						</div>
					</div>
					<div class="tip username-tip pos-abso">
						<div class="arrow"></div>
						<p>用户名不存在！</p>
					</div>
					<div class="tip password-tip pos-abso">
						<div class="arrow"></div>
						<p>密码错误！</p>
					</div>
				</div>
				<div class="reg pos-abso">
					<p class="txt-center"><a href="javascript:;" title="返回登录窗" class="return-log">返回登录窗</a></p>
					<div class="form-group pos-rela">
						<label for="reg_username" class="label">* &nbsp;用户名</label>
						<input type="text" id="reg_username" class="text" name="reg_username" placeholder="用户名">
						<div class="tip reg_name-tip pos-abso">
							<div class="arrow"></div>
							<p>用户名已存在！</p>
						</div>
					</div>
					<div class="form-group pos-rela">
						<label for="reg_password" class="label">* &nbsp;密码</label>
						<input type="password" id="reg_password" class="text" name="reg_password" placeholder="密码">
						<div class="tip reg_pass-tip input-tip pos-abso">
							<div class="arrow"></div>
							<p>请输入密码！</p>
						</div>
					</div>
					<div class="form-group pos-rela">
						<label for="reg_password-repeat" class="label">* &nbsp;再次输入密码</label>
						<input type="password" id="reg_password-repeat" class="text" name="reg_password-repeat" placeholder="密码">
						<div class="tip reg_repeat-tip pos-abso">
							<div class="arrow"></div>
							<p>两次输入密码不相同！</p>
						</div>
					</div>
					<div class="form-group pos-rela">
						<label for="reg_email" class="label">邮箱<span>（方便找回密码）</span></label>
						<input type="email" id="reg_email" class="text" name="reg_email" placeholder="邮箱">
						<div class="tip reg_email-tip pos-abso">
							<div class="arrow"></div>
							<p>邮箱格式不对。正确格式如：xxx@xxx.com！</p>
						</div>
					</div>
					<a class="btn btn-reg btn-success" href="javascript:;">注册</a>
				</div>
			</div>
		</div>
		<script src="/js/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="/js/login.js"></script>
	</body>
</html>