<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="new-center">
			<img src="/img/new_center/bg.jpg" alt="陕西帝奥电梯" class="page__bg">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<div class="logo-container float-l">
						<a href="/"><img src="/img/logo.png" alt="迪奥电梯"></a>
					</div>
					<ul class="nav__menu float-l clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt active">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="viewport viewport_new-list">
				<div class="viewport__content">
					<h1 class="viewport__title">新闻中心</h1>
					<div class="news__list">
						<div class="new__item clearfix">
							<a href="/newone" class="new__title float-l">陕西帝奥电梯有限公司代理商来厂参观学习</a>
							<span class="new__date float-r">2014/12/06</span>
						</div>
						<div class="new__item clearfix">
							<a href="/newtwo" class="new__title float-l">省市领导对帝奥电梯项目的关心重视</a>
							<span class="new__date float-r">2014/08/16</span>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
		<script type="text/javascript">
			
		</script>
	</body>
</html>