<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="new-single-page">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<div class="logo-container float-l">
						<a href="/"><img src="/img/logo.png" alt="迪奥电梯"></a>
					</div>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt active">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="new-sp__content common-w">
				<h1 class="title">陕西帝奥电梯有限公司代理商来厂参观学习</h1>
				<div class="new__date txt-c">2014-08-16</div>
				<div class="new__detail">
					<p>为拓展陕西帝奥电梯产品销售渠道，让更多销售代理商了解公司产品和企业发展，2014年12月6日，陕西帝奥电梯有限公司组织其下属全资子公司陕西普瑞达电梯有限公司及全国各地销售代理商来厂参观考察，了解目前公司的厂区规划建设及电梯生产销售情况。</p>
					<div class="new__pic txt-c">
						<img src="/img/new_center/3.jpg" alt="省市领导对帝奥电梯项目的关心重视">
					</div>
					<p>参观结束后，召开了公司发展动员大会，会上公司总经理张元卿提出公司发展管理“三同步，三统一”原则，要求每一位员工都积极参与到企业发展当中，为企业的成长壮大尽职尽责。</p>
					<div class="new__pic txt-c">
						<img src="/img/new_center/4.jpg" alt="省市领导对帝奥电梯项目的关心重视">
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
		<script type="text/javascript">
			
		</script>
	</body>
</html>