<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="new-single-page">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<div class="logo-container float-l">
						<a href="/"><img src="/img/logo.png" alt="迪奥电梯"></a>
					</div>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt active">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="new-sp__content common-w">
				<h1 class="title">省市领导对帝奥电梯项目的关心重视</h1>
				<div class="new__date txt-c">2014-08-16</div>
				<div class="new__detail">
					<div class="new__pic txt-c">
						<img src="/img/new_center/1.jpg" alt="省市领导对帝奥电梯项目的关心重视">
					</div>
					<p>2014年8月16日，省长娄勤俭（右四）、常务副省长江泽林（右三）、副省长张道宏（右二）、市长徐启方（右一）专程到安康帝奥电梯有限公司就如何做大做强进行了检查指导，并提出了具体要求。</p>
					<div class="new__pic txt-c">
						<img src="/img/new_center/2.jpg" alt="省市领导对帝奥电梯项目的关心重视">
					</div>
					<p>2014年8月16日，省长娄勤俭（左六）、常务副省长江泽林（左五）、副省长张道宏（左四）、市委书记郭青（左三）、省发改委主任方玮峰（左二）专程到安康帝奥电梯有限公司检查指导。</p>
				</div>
			</div>
			<% include footer %>
		</div>
		<script type="text/javascript">
			
		</script>
	</body>
</html>