<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="new-single-page">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<div class="logo-container float-l">
						<a href="/"><img src="/img/logo.png" alt="迪奥电梯"></a>
					</div>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt active">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="new-sp__content common-w">
				<h1 class="title">陕西帝奥电梯——中国一线电梯品牌领跑者</h1>
				<div class="new__date txt-c">2014-12-16</div>
				<div class="new__detail">
					<p>陕西帝奥电梯有限公司是德国帝奥品牌电梯在中国的制造、销售基地及服务中心。</p>
					<p>帝奥电梯品牌电梯位于德国重要的科学与研究中心——巴伐利亚洲的菲尔特，其以最高的安全标准，耐用的品质，优雅的外观和先进的技术及工艺很早就享誉欧洲。</p>
					<p>帝奥电梯品牌电梯从德国来到中国，带来了尖端和成熟的技术，完美的设计风格以及超前服务理念……并实现了技术转移和整机品质输入。陕西帝奥电梯有限公司的成立标志着德国帝奥电梯品牌电梯全面进入国内市场。</p>
					<p>陕西帝奥电梯承袭德国先进技术，并以其严谨高效的管理、优质的售后服务及合理的价格，在业界赢得了良好的信誉，位居中国电梯行业一线品牌行列。<a target="_blank" href="http://wenku.baidu.com/view/f0f7a7c9da38376baf1fae98.html?qq-pf-to=pcqq.c2c">2012电梯排名</a>，<a href="http://wk.baidu.com/view/59f4917401f69e31433294fc?pcf=2&bd_source_light=1550401&qq-pf-to=pcqq.c2c" target="_blank">国内一线品牌电梯排名</a>。</p>
					<p>帝奥人以打造精品为制造理念，质量生命线贯穿于每个流程。陕西帝奥电梯有限公司在配备强大硬件的同时，拥有专业的营销和售后安装维保团队，严格按照公司服务体系要求，随时向用户提供优质服务。帝奥人以热情、周到的服务对待每一位客户，为客户提供百分百满意的帝奥产品质量和服务是帝奥人对市场的永久承诺。</p>
				</div>
			</div>
			<% include footer %>
		</div>
	</body>
</html>