<br />
<div class="clearfix">
  <% if (!isFirstPage) { %>
    <span class="prepage float-l"><a title="上一页" href="?p=<%= page-1 %>">上一页</a></span>
  <% } %>

  <% if (!isLastPage) { %>
    <span class="nextpage float-r"><a title="下一页" href="?p=<%= page+1 %>">下一页</a></span>
  <% } %>
</div>