<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="product-show">
			<img src="/img/product_show/bg.jpg" alt="陕西帝奥电梯" class="page__bg">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt active">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="viewport viewport_tab viewport_ps">
				<div class="tab__nav clearfix">
					<a href="javascript:;" class="tab__nav__item active">乘客电梯轿厢</a>
					<a href="javascript:;" class="tab__nav__item">观光电梯轿厢</a>
					<a href="javascript:;" class="tab__nav__item">电梯厅门</a>
					<a href="javascript:;" class="tab__nav__item">电梯吊顶</a>
					<a href="javascript:;" class="tab__nav__item">电梯操纵箱</a>
					<a href="javascript:;" class="tab__nav__item">其他产品</a>
				</div>
				<div class="viewport__content tab__content">
					<div class="tab__content__cnt active ck">						
						<div class="ele-list">
							<div class="ele__item first">
								<div class="ele__pic">
									<img src="/img/product_show/1_1.jpg" alt="KS-J001-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J001</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1_2.jpg" alt="KS-J002-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J002</div>
									<div class="ele__option">标配配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1_3.jpg" alt="KS-J003-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J003</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1_4.jpg" alt="KS-J004-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J004</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item first">
								<div class="ele__pic">
									<img src="/img/product_show/1_5.jpg" alt="KS-J005-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J005</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1_6.jpg" alt="KS-J006-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J006</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1_7.jpg" alt="KS-J007-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J007</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1_8.jpg" alt="KS-J007-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J008</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<!-- new -->
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1/MN-14-003.jpg" alt="MN-14-003-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-14-003</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1/MN-14-004.jpg" alt="MN-14-004-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-14-004</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1/MN-14-017.jpg" alt="MN-14-017-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-14-017</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1/MN-14-018.jpg" alt="MN-14-018-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-14-018</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1/MN-14-019.jpg" alt="MN-14-019-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-14-019</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1/MN-14-020.jpg" alt="MN-14-020-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-14-020</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1/MN-14-041.jpg" alt="MN-14-041-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-14-041</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1/MN-14-042.jpg" alt="MN-14-042-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-14-042</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1/MN-14-043.jpg" alt="MN-14-043-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-14-043</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1/MN-14-044.jpg" alt="MN-14-044-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-14-044</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1/MN-14-077.jpg" alt="MN-14-077-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-14-077</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1/MN-14-078.jpg" alt="MN-14-078-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-14-078</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab__content__cnt gg">
						<div class="ele-list">
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/2_1.jpg" alt="KS-G001-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-G001</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/2_2.jpg" alt="KS-G002-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-G002</div>
									<div class="ele__option">标配配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/2_3.jpg" alt="KS-G003-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-G003</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/2_4.jpg" alt="KS-G004-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J004</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<!-- new -->
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/2/HR-535.jpg" alt="HR-535-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">HR-535</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/2/HR-537.jpg" alt="HR-537-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">HR-537</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/2/MN-505A.jpg" alt="MN-505A-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-505A</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/2/MN-518.jpg" alt="MN-518-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-518</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/2/MN-531.jpg" alt="MN-531-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-531</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/2/MN-533.jpg" alt="MN-533-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-533</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/2/MN-535.jpg" alt="MN-535-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-535</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/2/MN-539A.jpg" alt="MN-539A-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-539A</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab__content__cnt dm">
						<div class="ele-list">
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3_1.jpg" alt="KS-T001-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-T001</div>
									<div class="ele__option">发纹不锈钢</div>
									<p class="trans">Hairline stainless steel</p>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3_2.jpg" alt="KS-T002-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-T002</div>
									<div class="ele__option">喷塑钢板（颜色可选）</div>
									<p class="trans">Steel plate plasti jet</p>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3_3.jpg" alt="KS-T003-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-T003</div>
									<div class="ele__option">蚀刻不锈钢</div>
									<p class="trans">Etched stainless steel</p>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3_4.jpg" alt="KS-T004-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-T004</div>
									<div class="ele__option">发纹、蚀刻、钛金不锈钢</div>
									<p class="trans">Hairline、etched、titanium gold stainless steel</p>
								</div>
							</div>
							<!-- new -->
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-669.jpg" alt="MN-669-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-669</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-680.jpg" alt="MN-680-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-680</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-608.jpg" alt="MN-608-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-608</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-610.jpg" alt="MN-610-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-610</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-616.jpg" alt="MN-616-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-616</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-620.jpg" alt="MN-620-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-620</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-635A.jpg" alt="MN-635A-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-635A</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-636A.jpg" alt="MN-636A-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-636A</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-637.jpg" alt="MN-637-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-637</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-640.jpg" alt="MN-640-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-640</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-641.jpg" alt="MN-641-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-641</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-647.jpg" alt="MN-647-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-647</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-648.jpg" alt="MN-648-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-648</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-660.jpg" alt="MN-660-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-660</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-661.jpg" alt="MN-661-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-661</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-662.jpg" alt="MN-662-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-662</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-663.jpg" alt="MN-663-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-663</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-668.jpg" alt="MN-668-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-668</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-671.jpg" alt="MN-671-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-671</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-673.jpg" alt="MN-673-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-673</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-676.jpg" alt="MN-676-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-676</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-681.jpg" alt="MN-681-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-681</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-682.jpg" alt="MN-682-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-682</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3/MN-686.jpg" alt="MN-686-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-686</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab__content__cnt dd">
						<div class="ele-list">
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4_1.jpg" alt="KS-D001-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-D001</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4_2.jpg" alt="KS-D002-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-D002</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4_3.jpg" alt="KS-D003-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-D003</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4_4.jpg" alt="KS-D004-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-D004</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4_5.jpg" alt="KS-D003-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-D003</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4_6.jpg" alt="KS-D004-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-D004</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<!-- new -->
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-405.jpg" alt="MN-405-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-405</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-406.jpg" alt="MN-406-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-406</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-407.jpg" alt="MN-407-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-407</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-408.jpg" alt="MN-408-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-408</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-409.jpg" alt="MN-409-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-409</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-410.jpg" alt="MN-410-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-410</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-412.jpg" alt="MN-412-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-412</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-415.jpg" alt="MN-415-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-415</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-416.jpg" alt="MN-416-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-416</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-417.jpg" alt="MN-417-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-417</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-418.jpg" alt="MN-418-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-418</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-419.jpg" alt="MN-419-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-419</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-420.jpg" alt="MN-420-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-420</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-421.jpg" alt="MN-421-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-421</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-426.jpg" alt="MN-426-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-426</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-427.jpg" alt="MN-427-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-427</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-465.jpg" alt="MN-465-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-465</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-466.jpg" alt="MN-466-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-466</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-468.jpg" alt="MN-468-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-468</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-469.jpg" alt="MN-469-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-469</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-470.jpg" alt="MN-470-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-470</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-471.jpg" alt="MN-471-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-471</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-473.jpg" alt="MN-473-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-473</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-475.jpg" alt="MN-475-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-475</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-476.jpg" alt="MN-476-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-476</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-477.jpg" alt="MN-477-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-477</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-478.jpg" alt="MN-478-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-478</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-480.jpg" alt="MN-480-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-480</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-481.jpg" alt="MN-481-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-481</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4/MN-482.jpg" alt="MN-482-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-482</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab__content__cnt cz">
						<div class="ele-list">
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/5_1.jpg" alt="KS-C001-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-C001</div>
									<div class="ele__option">选配： Standard</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/5_2.jpg" alt="KS-C002-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-C002</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/5_3.jpg" alt="KS-C003-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-C003</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<!-- new -->
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/5/MN-01.jpg" alt="MN-01-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-01</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/5/MN-02.jpg" alt="MN-02-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-02</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/5/MN-03.jpg" alt="MN-03-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-03</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/5/MN-04.jpg" alt="MN-04-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-04</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/5/MN-05.jpg" alt="MN-05-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-05</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/5/MN-06.jpg" alt="MN-06-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-06</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/5/MN-07.jpg" alt="MN-07-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-07</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/5/MN-08.jpg" alt="MN-08-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-08</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/5/MN-09.jpg" alt="MN-09-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-09</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab__content__cnt wj">
						<div class="title">无机房乘客电梯</div>
						<div class="clearfix">
							<div class="txt-c float-l">
								<img src="/img/product_show/6_1.jpg" alt="无机房乘客电梯-陕西帝奥电梯">
							</div>
							<div class="float-l ele__detail-des">
								<div class="des__block">
									<p class="p1">有效利用空间</p>
									<p>将整个电梯置于井道内，</p>
									<p>解除机房空间对于建筑的制约</p>
								</div>
								<div class="des__block">
									<p class="p1">节约建筑成本</p>
									<p>所有设备都安装在井道内，</p>
									<p>为建筑商节省成本</p>
								</div>
								<div class="des__block">
									<p class="p1">为建筑设计带来无限自由</p>
									<p>腾出机房空间，</p>
									<p>建筑师或开放商可进行更自由的设计方式</p>
								</div>
							</div>
						</div>
						<div class="title">扶手系列</div>
						<div class="ele-list spe1">
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-001.jpg" alt="MN-001-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-001</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-002.jpg" alt="MN-002-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-002</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-003.jpg" alt="MN-003-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-003</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-004.jpg" alt="MN-004-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-004</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-005.jpg" alt="MN-005-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-005</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-006.jpg" alt="MN-006-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-006</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-007.jpg" alt="MN-007-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-007</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-008.jpg" alt="MN-008-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-008</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-009.jpg" alt="MN-009-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-001</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-010.jpg" alt="MN-010-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-010</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-011.jpg" alt="MN-011-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-011</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-012.jpg" alt="MN-012-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-012</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-012A.jpg" alt="MN-012A-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-012A</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-013.jpg" alt="MN-013-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-013</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-014.jpg" alt="MN-014-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-014</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-015.jpg" alt="MN-015-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-015</div>
								</div>
							</div>
						</div>
						<div class="title">轿底装潢系列</div>
						<div class="ele-list">
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-727.jpg" alt="MN-727-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-727</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-728.jpg" alt="MN-728-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-728</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-729.jpg" alt="MN-729-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-729</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-731.jpg" alt="MN-731-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-731</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-732.jpg" alt="MN-732-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-732</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-733.jpg" alt="MN-733-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-733</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-735.jpg" alt="MN-735-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-735</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/6/MN-736.jpg" alt="MN-736-陕西帝奥电梯">
								</div>
								<div class="ele__des">
									<div class="ele__name">MN-736</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
		<script type="text/javascript">
			$(function () {
				Tab.enable();
			});
		</script>
	</body>
</html>