<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="product-show">
			<img src="/img/product_show/bg.jpg" alt="陕西帝奥电梯" class="page__bg">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">新闻中心</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt active">产品展示</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">人力资源</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="viewport viewport_tab viewport_ps">
				<div class="tab__nav clearfix">
					<a href="javascript:;" class="tab__nav__item active">乘客电梯轿厢</a>
					<a href="javascript:;" class="tab__nav__item">观光电梯轿厢</a>
					<a href="javascript:;" class="tab__nav__item">电梯厅门</a>
					<a href="javascript:;" class="tab__nav__item">电梯吊顶</a>
					<a href="javascript:;" class="tab__nav__item">电梯操纵箱</a>
					<a href="javascript:;" class="tab__nav__item">无机房乘客电梯</a>
				</div>
				<div class="viewport__content tab__content">
					<div class="tab__content__cnt active ck">						
						<div class="ele-list">
							<div class="ele__item first">
								<div class="ele__pic">
									<img src="/img/product_show/1_1.jpg" alt="KS-J001">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J001</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1_2.jpg" alt="KS-J002">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J002</div>
									<div class="ele__option">标配配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1_3.jpg" alt="KS-J003">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J003</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1_4.jpg" alt="KS-J004">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J004</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item first">
								<div class="ele__pic">
									<img src="/img/product_show/1_5.jpg" alt="KS-J005">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J005</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1_6.jpg" alt="KS-J006">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J006</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1_7.jpg" alt="KS-J007">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J007</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/1_8.jpg" alt="KS-J007">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J008</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab__content__cnt gg">
						<div class="ele-list">
							<div class="ele__item">
									<div class="ele__pic">
										<img src="/img/product_show/2_1.jpg" alt="KS-G001">
									</div>
									<div class="ele__des">
										<div class="ele__name">KS-G001</div>
										<div class="ele__option">选配： Optional</div>
									</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/2_2.jpg" alt="KS-G002">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-G002</div>
									<div class="ele__option">标配配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/2_3.jpg" alt="KS-G003">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-G003</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/2_4.jpg" alt="KS-G004">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-J004</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab__content__cnt dm">
						<div class="ele-list">
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3_1.jpg" alt="KS-T001">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-T001</div>
									<div class="ele__option">发纹不锈钢</div>
									<p class="trans">Hairline stainless steel</p>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3_2.jpg" alt="KS-T002">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-T002</div>
									<div class="ele__option">喷塑钢板（颜色可选）</div>
									<p class="trans">Steel plate plasti jet</p>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3_3.jpg" alt="KS-T003">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-T003</div>
									<div class="ele__option">蚀刻不锈钢</div>
									<p class="trans">Etched stainless steel</p>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/3_4.jpg" alt="KS-T004">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-T004</div>
									<div class="ele__option">发纹、蚀刻、钛金不锈钢</div>
									<p class="trans">Hairline、etched、titanium gold stainless steel</p>
								</div>
							</div>
						</div>
					</div>
					<div class="tab__content__cnt dd">
						<div class="ele-list">
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4_1.jpg" alt="KS-D001">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-D001</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4_2.jpg" alt="KS-D002">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-D002</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4_3.jpg" alt="KS-D003">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-D003</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4_4.jpg" alt="KS-D004">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-D004</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4_5.jpg" alt="KS-D003">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-D003</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/4_6.jpg" alt="KS-D004">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-D004</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab__content__cnt cz">
						<div class="ele-list">
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/5_1.jpg" alt="KS-C001">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-C001</div>
									<div class="ele__option">选配： Standard</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/5_2.jpg" alt="KS-C002">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-C002</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
							<div class="ele__item">
								<div class="ele__pic">
									<img src="/img/product_show/5_3.jpg" alt="KS-C003">
								</div>
								<div class="ele__des">
									<div class="ele__name">KS-C003</div>
									<div class="ele__option">选配： Optional</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab__content__cnt wj">
						<div class="clearfix">
							<div class="txt-c float-l">
								<img src="/img/product_show/6_1.jpg" alt="无机房乘客电梯">
							</div>
							<div class="float-l ele__detail-des">
								<div class="ele__name">无机房乘客电梯</div>
								<div class="des__block">
									<p class="p1">有效利用空间</p>
									<p>将整个电梯置于井道内，</p>
									<p>解除机房空间对于建筑的制约</p>
								</div>
								<div class="des__block">
									<p class="p1">节约建筑成本</p>
									<p>所有设备都安装在井道内，</p>
									<p>为建筑商节省成本</p>
								</div>
								<div class="des__block">
									<p class="p1">为建筑设计带来无限自由</p>
									<p>腾出机房空间，</p>
									<p>建筑师或开放商可进行更自由的设计方式</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
		<script type="text/javascript">
			$(function () {
				Tab.enable();
			});
		</script>
	</body>
</html>