<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="user-info">
			<div class="container">
				<div class="head">
					<div class="container-shadow">
						<div>
							<img src="<%= user.head %>" alt="<%= user.name %>">
						</div>
					</div>
				</div>
				<a href="/sendEmail">测试</a>
			</div>
		</div>
	</body>
</html>